#background{
    background: linear-gradient(black, blue, orange, white
    );
margin: auto;
width: 100%;
height: 100%;
top: 0;
bottom: 0;
left: 0;
right: 0;
    color: aliceblue;

}

header{
    font-size: large;
    font-weight: 100;
}

